<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <h2>External Links</h2>
    <ul>
      <li>
        <a
          href="https://gitlab.com/souldeux"
          target="_blank"
        >
          GitLab
        </a>
      </li>
      <li>
        <a
          href="https://github.com/souldeux"
          target="_blank"
        >
          GitHub (Deprecated)
        </a>
      </li>
      <li>
        <a
          href="https://stackoverflow.com/users/story/3500094"
          target="_blank"
        >
          StackOverflow Story
        </a>
      </li>
      <li>
        <a
          href="https://twitter.com/souldeux"
          target="_blank"
        >
          Twitter
        </a>
      </li>
      <br>
      <li>
        <a
          href="http://souldeux.com"
          target="_blank"
        >
          My Old Portfolio Site
        </a>
      </li>
      <li>
        <a
          href="http://souldeux.itch.io"
          target="_blank"
        >
          souldeux.itch.io
        </a>
      </li>
    </ul>
    <h2>Internal Links</h2>
      <ul>
        <li>
          <a href="/imageclassifier">
            Image Classifier
          </a>
        </li>
        <li>
          <a href="/code">
            GitLab Activity Feed
          </a>
        </li>
        <li>
          <a href="/scratchpad">
            Markdown Scratchpad
          </a>
        </li>
      </ul>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  data () {
    return {
      msg: "Welcome to Souldeux's Playground"
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
