<template>
  <div class="imageClassifier">
    <h1>Image Classification</h1>
    <div v-if="resultType === 'string'">
      <p>
        {{results}}
      </p>
    </div>
    <div v-else>
      <ul>
        <li v-for="(v, k) in results">{{v | toPercent}} {{k | prettyLabel}}</li>
      </ul>
    </div>
    <picture-input
      ref="pictureInput"
      v-on:change="onChange"
      width="600"
      height="600"
      margin="16"
      accept="image/jpeg,image/png"
      size="25"
      buttonClass="btn"
      :hideChangeButton=true
      :customStrings="{
        drag: 'Click or Drag to Feed Me a Picture',
        tap: 'Tap to Feed Me a Picture'
      }">
    </picture-input>
    <p>
      Uses the
      <a href="https://gist.github.com/baraldilorenzo/8d096f48a1be4a2d660d">
        VGG-19 model</a> developed by people cleverer than me
    </p>
    <p class='small'>
      Very Deep Convolutional Networks for Large-Scale Image Recognition
      <br>
      (K. Simonyan, A. Zisserman, arXiv:1409.1556)
    </p>
  </div>
</template>

<script>
import PictureInput from 'vue-picture-input'

export default {
  name: 'ImageClassifier',
  data () {
    return {
      results: '',
      fetchURI: ''
    }
  },
  computed: {
    resultType: function () {
      return typeof this.results
    }
  },
  components: {
    PictureInput
  },
  mounted () {
  },
  methods: {
    onChange (image) {
      console.log('New picture selected!')
      if (image) {
        console.log('Picture loaded!')

        //Play loading animation
        this.$parent.faceClass = 'img-round flipY'

        this.results = 'Loading Image' //Updates result text while we make API call
        this.image = image
        //Set the appropriate content type and POST to API
        const contentType = {
          headers: {
            'Content-Type': 'multipart/form-data',
          }
        }
        const formData = new FormData();
        //Make sure to get the file itself, not just the image reference
        formData.append('resource', this.$refs.pictureInput.file);
        axios.post(process.env.API_ROOT + 'pictures/', formData, contentType).then(response => {
          console.log("Kerrigan Picture creation success!")
          this.results = 'Classifying'
          this.fetchURI = process.env.API_ROOT + 'pictures/' + response.data.id + '/'
        }).then(context => { //I don't fully understand this tbh
          this.updateResult()
        });
      } else {
        this.results = ''
        this.fetchURI = ''
        console.log('FileReader API not supported!')
      }
    },
    sleep (ms) {
      return new Promise(resolve => setTimeout(resolve, ms));
    },
    async updateResult() {
      //Hits the fetchURI of the given context to try and get classification info
      //about an image. If that image is still PENDING classification, make some
      //fun dots look kinda animated. Else, update context.results with
      //the classification data we get from the API. Keep trying this over and over
      //until the status of the image being classified is no longer PENDING
      await this.sleep(750);
      axios.get(this.fetchURI).then(response => {
          if (response.data.classification_status === 'PENDING') {
            if (this.results.length == 'classifying'.length + 3){
              this.results = 'Classifying'
            } else {
            this.results = this.results + '.'
            }
            return this.updateResult()
          } else {
            //strict typing is for the birds
            if (response.data.classification_status === 'COMPLETE') {
              this.results = response.data.classification_data
            } else {
              this.results = "classification service returned an error :("
            }
            //Stop spinning the picture
            this.$parent.faceClass = 'img-round'
          }
      });
    }
  },
  filters: {
    toPercent: function (val) {
      //This gets us to two rounded decimal places
      return Math.round(val * 10000) / 100 + '%'
    },
    prettyLabel: function (val) {
      return val.replace('_', ' ')
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
  text-transform: capitalize;
}
a {
  color: #42b983;
}
.small {
  font-size: 70%
}
</style>
