<template>
  <div id="app">
    <div class='face-container'>
      <a href='/'>
        <img src="./assets/sface.png" :class='faceClass'>
      </a>
    </div>
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'App',
  data () {
    return {
      faceClass: 'img-round'
    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
.img-round {
  border-radius: 50%;
}
.flipY {
  animation-duration: 1.5s;
  animation-name: flipY;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

@keyframes flipY {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(180deg);
  }
}

a {
  text-decoration: none;
}



</style>
